.choice-wheel {
  display: inline-block;
  height: 2em;
  position: relative;
  user-select: none;
  width: 2em;

  $em-multiplier: 3.8;

  @keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  $fadein-duration: 250ms;

  &.expand-bg {
    &::before {
      animation-name: fadein;
      animation-duration: $fadein-duration;
      background-color: white;
      border: 1px solid black;
      border-radius: 50%;
      content: '';
      position: absolute;
      height: $em-multiplier * 2.8em;
      left: $em-multiplier * -1.4em + 1em;
      top: $em-multiplier * -1.4em + 1em;
      width: $em-multiplier * 2.8em;
      z-index: 1;
    }

    .chosen-one {
      z-index: 1;
    }
  }

  .chosen-one {
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    height: 2em;
    justify-content: center;
    position: absolute;
    width: 2em;
  }

  .choices {
    display: none;
    left: 0;
    position: absolute;
    top: 0;

    &.visible {
      display: block;
      z-index: 1;
    }

    $coordinates-3:
      1 -0.5em 0.866em,
      2 1em 0em,
      3 -0.5em -0.866em;
      
    $coordinates-8:
      1 -0.924em 0.383em,
      2 -0.383em 0.924em,
      3 0.383em 0.924em,
      4 0.924em 0.383em,
      5 0.924em -0.383em,
      6 0.383em -0.924em,
      7 -0.383em -0.924em,
      8 -0.924em -0.383em;
      
    @each $n, $top, $left in $coordinates-3 {
      .choices-3:nth-of-type(#{$n}) {
        top: $top * $em-multiplier;
        left: $left * $em-multiplier;
      }
    }
    
    @each $n, $top, $left in $coordinates-8 {
      .choices-8:nth-of-type(#{$n}) {
        top: $top * $em-multiplier;
        left: $left * $em-multiplier;
      }
    }

    > div {
      animation-name: fadein;
      animation-duration: $fadein-duration;
      background-color: white;
      cursor: pointer;
      position: absolute;
    }
  }
}
