.hamster {
  align-items: center;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  width: 2em;

  &:hover {
    outline: 2px solid black;
  }
}
